.header-container {
  margin: 0 auto;
  max-width: 60em;
}

.header-left {
  float: left;
  width: 40%;
}

.header-right {
  float: right;
  width: 40%;
}

.main-container {
  margin: 0 auto;
  max-width: 60em;
}

.col-2-left {
  width: 50%;
  float: left;
}

.col-2-right {
  width: 50%;
  float: right;
}

.footer-container {
  margin: 0 auto;
  max-width: 60em;
}