* {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light.otf');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.ttf');
  src: url('../fonts/fontawesome-webfont.eot');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Gotham-Light';
}

h2 {
  color: #0288D1;
}

section {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}
/* Float padding fix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* IE6&7 */ 
}